* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    background-color: #fff;
    color: #555;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px !important;
    text-rendering: optimizeLegibility;
    /* overflow: auto; */
}

html,body {
    overflow-x: hidden;
}

.row {
    max-width: 100%;
    margin: 0 !important;
}

.col {
    flex:none;
}

header {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('img/hero.jpg');
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

h1 {
    width: 70%;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff !important;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.hero-text-box {
    z-index: 0;
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

/* .btn {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
}
.btn-full {
    background-color: #e67e22;
    color: #fff;
    border: 1px orange;
    margin-right: 25px;
}
.btn-full {
    color: #e67e22;
    border: 1px solid orange;
} */
/* pseudo-classes */
.btn:link,
.btn:visited, 
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited, 
input[type=submit] {
    background-color: #e67e22;
    color: #fff;
    border: 1px orange;
    margin-right: 25px;
}

.btn-ghost:link,
.btn-ghost:visited {
    color: #e67e22;
    border: 1px solid orange;
}

.btn:hover,
.btn:active, 
input[type=submit]:hover,
input[type=submit]:active {
    background-color: orangered;
    color: #fff;
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.navbar.bg-body-tertiary {
    background-color: transparent !important;
}

.navbar-collapse {
    z-index: 10;
}

.nav {
    z-index: 10;
    float: right;
    list-style: none;
    margin-top: 55px;
}

.nav li {
    display: inline-block;
    margin-left: 40px;
}

.nav li a:link,
.nav li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 2px solid transparent;
    padding: 8px 0;
    transition: border-bottom 0.7s;
}

.nav li a:hover,
.nav li a:active {
    border-bottom: 2px solid #e67e22;
}

section {
    padding: 80px 0;
}

h2 {
    font-family: sans-serif;
    font-weight: 300 !important;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center !important;
    margin-bottom: 30px;
    letter-spacing: 2px;
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.box {
    padding: 1%;
}

h3 {
    font-family: sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p {
    font-size: 90%;
    line-height: 150%;
}

.icon_big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 20px;
}

.boxes {
    margin-top: 30px;
    margin-bottom: 20px;
}

.meals-showcase {
    padding-left: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meal-photo img {
    width: 100%;
    height: auto;
    transition: transform 0.55s, opacity 0.55s;
    transform: scale(1.15);
    opacity: 0.75;
}

.meal-photo img:hover {
    transform: scale(1.03);
    opacity: 1;
}

.clearfix {
    zoom: 1
}

.clearfix::after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.navbar-toggler-icon {
    filter: invert(100%);
}

.section-meals {
    padding: 0;
    /* margin-bottom: 670px; */
}
.section-features {
    padding-top: 3%;
}
.section-features .long-copy {
    margin-top: 40px;
    margin-bottom: 30px;
    line-height: 145%;
    text-align: center;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: 0;
}

.section-steps {
    background-color: #f4f4f4;
    padding-top: 3%;
    padding-bottom: 1%;
    /* height: 100%;
    min-height: 670px; */
}

.works-step {
    height: 60px;
    display: block;
    /* vertical-align: middle; */
    margin-bottom: 50px;
}

/*Using :first-child we can manipulate the 1st element of .steps-box class*/
.steps-box:first-child {
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}

.steps-box:last-child {
    margin-top: 60px;
    padding-left: 3%;
}

.app-screen {
    width: 40%;
    box-shadow: 10px 10px 5px #aaaaaa;
}

/*descending css elements*/
.works-step div {
    color: #e67e22;
    border: 4px solid #e67e22;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    font-size: 120%;
    text-align: center;
    /* display: inline-block; */
    float: left;
    padding: 0px 5px 5px 5px;
    margin-right: 20px;
}

.btn-app {
    display: inline-block;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.city-feature {
    margin-bottom: 5px;
}

.section-cities .row .box .city-feature ion-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

.section-cities .row .box .city-feature a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    padding-bottom: 1px;
}

.section-cities .row .box .city-feature a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
    transition: border-botton 0.55s, color 0.55s;
}

.section-testimonials {
    /* position: relative; */
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(img/back-customers.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
    /* background-position: center; */
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 30px !important;
    position: relative;
}
blockquote:before {
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3;
}

cite {
    font-size: 90%;
    display: block;
    margin-top: 25px;
}

cite img {
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.section-plans {
    padding-top: 3%;
    background-color: #f4f4f4;
    overflow: hidden;
}

.plan-box {
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-price {
    font-size: 300%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price-meal {
    margin-bottom: 0;
    font-size: 80%;
}

.plan-price span {
    font-size: 40%;
    font-weight: 300;
}

/*list-style to chenge the bullet points*/
.plan-box ul {
    padding: 0;
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
}

.plan-box ul li ion-icon {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
}

.plan-box div:last-child {
    border: 0;
    text-align: center;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.section-form {
    /* font-size: large; */
    padding: 3%;
    overflow: hidden;
}

.section-form .row {
    padding: 0 2.5% 0 2.5%;
}

.contact-form {
    width: 100%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

input[type=checkbox] {
    margin: 7px 2px 7px 0;
}

footer {
    overflow: hidden;
    background-color: #333;
    font-size: 80%;
    padding: 50px;
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li a:link,
.social-links li a:visited,
.footer-nav li a:link,
.footer-nav li a:visited {
    /* text-decoration: none; */
    border: 0;
    color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 70px;
    font-size: 90%;
}

.fb:hover {
    color: #3b5998;
}
.twitter:hover {
    color: #00aced;
}
.google:hover {
    color: #dd4b39;
}
.insta:hover {
    color: magenta;
}